<div id="admin_fulfillment_orders_page_wrapper">
  <div id="admin_fulfillment_orders_grid_wrapper" class='column pretty_table'>
    <table class="table table-striped table-bordered dataTable">
      <thead>
      <tr class='odd'>
        <th class='column1_header'>Name</th>
        <th>Sku</th>
        <th>Price</th>
        <th>Shipping Rate</th>
        <th>Shipping Method</th>


      </tr>
      </thead>
      <% shipment.order_items.each_with_index do |item,i| %>
          <tr class='<%= cycle("odd", "")%>'>
            <td><b><%= item.variant.product_name %></b></td>
            <td><%= item.variant.sku %></td>
            <td><%= number_to_currency item.variant.price %></td>
            <td>
              <%= number_to_currency( item.shipping_rate.rate ) %>
            </td>
            <td>
              <%= item.shipping_rate.shipping_method.name  %>
            </td>
          </tr>
      <% end %>
    </table>

  </div>

</div>