<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "My shop details", admin_shop_path %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      Edit Shop Logo

    </li>
<% end %>

<%= content_for(:page_title) do %>
    Edit Shop Logo
<% end %>

<%= render "logo_update"  %>

