<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "My shop details", admin_shop_path %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      Edit Terms and Conditions Details

    </li>
<% end %>

<%= content_for(:page_title) do %>
    Edit Terms and Conditions Details
<% end %>

<div class="row-fluid">
  <div class="offset2 span8">
    <div class="social-box">
      <div class="header">
        <h4>Terms and Conditions Details</h4>
      </div>
      <div class="body">
        <%= simple_form_for([:admin, @shop], html: {class: 'form-horizontal', method: 'put' }) do |f| %>
            <fieldset style="margin-top:20px">
              <%= f.input :terms, input_html: {class: "input-xlarge"} %>
              <div class="form-actions">
                <%= f.submit "Update Terms and Conditions Details", class: "btn"  %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

