<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to_unless_current "Product Types", admin_product_types_path %>
    </li>
<% end %>

<%= content_for(:page_title) do %>
   Product Types
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <div class="btn-group hidden-phone">
          <%= link_to "Add Product Type", new_admin_product_type_url, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="body">
        <% if @product_types.empty? %>
            <p>
              No Product Type
            </p>
        <% else %>
            <%= render "list" %>
        <% end %>
      </div>
    </div>
  </div>
</div>