<tr class="cart_item">
  <td class="product-thumbnail"><a href="<%= url_for item.variant.product %>" ><%= image_tag item.variant.featured_image, width: "100px" %></a></td>
  <td class="product-name">
    <%= link_to item.variant.product_name, item.variant.product %>
    <ul class="variation">
      <br/>
      <%= item.variant.display_stock_status('', '') %>
      <li class="variation-Color">Brand <span><%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %></span></li>
      <li class="variation-Size">Size: <span><%= item.variant.name %></span></li>
    </ul>
  </td>

  <td class="product-price"><%= number_to_currency(item.price, unit: "₦", precision: 0) %></td>

  <td class="product-quantity">
    <%= cart_items_form.select :quantity, [item.quantity, 1,2,3,4,5,6], {:include_blank => false}, :class => 'basic' %>
  </td>

  <td class="product-subtotal"><%= number_to_currency(item.total, unit: "₦", precision: 0) %></td>

  <td class="product-remove">
    <%= link_to shopping_cart_item_path(item, :variant_id => item.variant_id),
                :method => :delete do %>
        <span>Delete</span> <i>X</i>
    <% end %>
</tr>