<fieldset class="twelve columns <%= po_form.object.new_record? ? 'new_fields' : 'fields' %>">
  <div class='field six large-6 span12'>
    <table class="table table-striped table-bordered">
      <tr>
        <td></td>
        <td>
          <%= remove_child_link('remove', po_form) %>
        </td>
      </tr>

      <tr>
        <td>State Name</td>
        <td>
          <%= po_form.text_field :name, class: "input-xlarge" %>
        </td>
      </tr>

      <tr>
        <td>Abbreviation</td>
        <td><%= po_form.text_field :abbreviation, class: "input-xlarge" %></td>
      </tr>

      <tr>
        <td>Shipping Zone: </td>
        <td>
          <% if po_form.object.id %>
              <%= po_form.select :shipping_zone_id, @shipping_zones, { :include_blank => true }, :class => "chzn-select select_variants input-xlarge" %>
          <% else %>
              <%= po_form.select :shipping_zone_id, @shipping_zones, { :include_blank => true }, :class => "select_variants input-xlarge" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Described As</td>
        <td><%= po_form.text_field :described_as, class: "input-xlarge" %></td>
      </tr>
    </table>
  </div>
</fieldset>
