<table class="table table-striped table-bordered dataTable" style="margin-top: 10px;">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount of products</th>
    <th>Date Added</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, admin_brand_path(brand) %></td>
        <td style="text-align: center;"><%= brand.products.size %></td>
        <td><%= link_to brand.created_at.to_date.to_s(:long)%></td>
        <td>
          <div class="">
            <%= link_to  edit_admin_brand_path(brand), class: "btn btn-small" do %>
                <i class="icon-edit"></i>  Edit
            <% end %>
            <%= link_to admin_brand_path(brand), method: :delete, class: "btn btn-danger btn-small", data: {confirm: "Are you sure"} do %>
                <i class="icon-trash"></i>    Delete
            <% end %>
          </div>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
