<% if @tax_rate.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@tax_rate.errors.count, "error") %> prohibited this tax_rate from being saved:</h4>

      <ul>
        <% @tax_rate.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<fieldset>

  <div class="control-group">
    <label class="control-label">Percentage</label>
    <div class="controls">
      <%= f.text_field :percentage, class:"input-xlarge" %>
    </div>
  </div>

  <% if Settings.tax_per_state_id %>
      <div class="control-group">
        <label class="control-label">Country</label>
        <div class="controls">
          <%= f.select :country_id, options_from_collection_for_select(Country.all, 'id', 'name'), {:include_blank => true, class: "input-xlarge"} %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">State</label>
        <div class="controls">
          <%= f.select :state_id, @states, {:include_blank => true}, class: "input-xlarge" %>
        </div>
      </div>


  <% else %>
      <div class="control-group">
        <label class="control-label">Country</label>
        <div class="controls">
          <%= f.select :country_id, countries, {:include_blank => true}, class: "input-xlarge" %>
        </div>
      </div>

  <% end %>

  <div class="control-group">
    <label class="control-label">Start Date</label>
    <div class="controls">
      <%= f.text_field :start_date, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">End Date</label>
    <div class="controls">
      <%= f.text_field :end_date, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Active</label>
    <div class="controls">
      <%= f.check_box :active %>
    </div>
  </div>


</fieldset>

<div class="form-actions">
  <%= f.submit class: "btn btn-primary" %> <%= link_to "Cancel", :back, class: "btn"%>
</div>