<table class="table table-striped table-bordered dataTable">
  <thead>
  <tr class='odd'>
    <th  class='column1_header'>Buy Quantity</th>
    <th>Get Percentage</th>
    <th>Deal Type</th>
    <th>Product Type</th>
    <th>Get Amount</th>
    <th>Deleted At/Ends At</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% for deal in @deals %>
      <tr  class='<%= cycle("odd", "")%>'>

        <td><%= link_to deal.buy_quantity, [:admin, :generic, deal] %></td>
        <td><%= deal.get_percentage %></td>
        <td><%= deal.deal_type.name %></td>
        <td><%= deal.product_type.name %></td>
        <td><%= deal.get_amount %></td>
        <td><%= deal.deleted_at %></td>
        <td><%= link_to "delete", [:admin, :generic, deal], :data => {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>