<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Manage Inventory</h4>
      </div>
      <div class="body">
        <table class="table table-bordered table-striped">
          <thead>
          <tr class='odd'>
            <th class='column1_header'>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% for product in @products %>
              <tr class='<%= cycle("odd", "")%>'>
                <td><%= link_to product.name, admin_inventory_adjustment_path(product) %></td>
                <td><%= link_to "Manage Inventory", admin_inventory_adjustment_path(product), class: "btn" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>