<table class="table table-striped table-bordered dataTable" style="margin-top: 10px;">
  <thead>
  <tr>
    <th>Shipping Method</th>
    <th>Rate</th>
    <th>Shipping rate type</th>
    <th>Minimum Charge</th>
    <th>Category</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @shipping_rates.each do |shipping_rate| %>
      <tr>
        <td><%= shipping_rate.shipping_method.try(:name) %></td>
        <td><%= shipping_rate.rate %></td>
        <td><%= shipping_rate.shipping_rate_type.try(:name) %></td>
        <td><%= shipping_rate.minimum_charge %></td>
        <td><%= shipping_rate.shipping_category.try(:name) %></td>
        <td>
          <div class="">
            <%= link_to  edit_admin_config_shipping_rate_url(shipping_rate), class: "btn btn-small" do %>
                <i class="icon-edit"></i>  Edit
            <% end %>
          </div>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
