<table class="table table-striped table-bordered dataTable">
  <thead>
  <tr>
    <th>Product Name</th>
    <th> Sku</th>
    <th> Price</th>
    <th></th>
  </tr>
  </thead>
  <% @variants.each do |variant| %>
      <tr>
        <td><%= link_to variant.product_name, edit_admin_product_variant_path(@product, variant) %></td>
        <td><%= variant.sku %></td>
        <td><%= variant.price %></td>
        <td>
          <% if variant.active? %>

              <%= link_to 'Inactivate Variant',
                          admin_product_variant_path(variant.product, variant),
                          :class => 'btn btn-danger', :method => :delete, :data => {:confirm => "Are you sure?"} %>
          <% end %>
          <%= link_to 'Edit', edit_admin_product_variant_path(variant.product, variant), :class => 'btn' %>
          <%= link_to 'Details', admin_product_variant_path(variant.product, variant), :class => 'btn' %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @variants %>