<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to @product.name, admin_product_path(@product) %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Editing variant for <%= link_to @product.name, admin_product_path(@product) %></h4>
      </div>
      <div class="body">

        <%= simple_form_for @variant, :url  => admin_product_variant_path(@product, @variant),
                            :html => {:class => 'form-horizontal'}  do |f| %>
            <%= render "form", f: f %>
        <% end %>

      </div>
    </div>
  </div>
</div>