<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to @product.name, admin_product_path(@product) %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Product: <%= @product.name %> (<%= '*' if @variant.master %><%= @variant.sku %>)</h4>
        <%= render "admin/products/product_links", product: @product %>
      </div>
      <div class="body">

        <fieldset id="admin-product-names">

          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :sku %>
          </div>
          <div class='span6 last'>
            <%= @variant.sku %>
          </div>
          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :price %>
          </div>
          <div class='span6 last'>
            <%= @variant.price %>
          </div>

          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :cost %>
          </div>
          <div class='span6 last'>
            <%= @variant.cost %>
          </div>

          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :count_on_hand %>
          </div>
          <div class='span6 last'>
            <%= @variant.count_on_hand %>
          </div>

          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :count_pending_to_customer %>
          </div>
          <div class='span6 last'>
            <%= @variant.count_pending_to_customer %>
          </div>

          <div class='clear'></div>
          <div class='span3'>
            <%= label :variant, :count_pending_from_supplier %>
          </div>
          <div class='span6 last'>
            <%= @variant.count_pending_from_supplier %>
          </div>
        </fieldset>

        <fieldset id="admin-product-properties" style="margin-bottom: 10px;">
          <legend>Properties</legend>
          <% @variant.variant_properties.each do |variant_prop|  %>
              <%= variant_prop.property.identifing_name %>: <%= variant_prop.description %> <br/>
          <% end %>
        </fieldset>
        <% if @variant.active? %>

            <%= link_to 'Inactivate Variant',
                        admin_product_variant_path(@product, @variant),
                        :class => 'btn btn-danger', :method => :delete, :data => {:confirm => "Are you sure?"} %>
        <% end %>
        <%= link_to 'Edit Variant', edit_admin_product_variant_path(@product, @variant), :class => 'btn' %>
      </div>
    </div>
  </div>
</div>






