

  <div class='row-fluid clearfix <%= cycle("line_item_blue", "line_item_light_gray") -%>' style="margin-bottom: 10px;">
    <div class='span4'>
      <%= image_tag(items.first.variant.product.featured_image(:mini)) %>
    </div>
    <div class="span4">
      <%= items.first.variant.product.name %> Quantity: <%= items.size %>
    </div>
    <div class='span4'>
      <%= raw items.first.variant.display_property_details %>
    </div>
  </div>
