<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "categories", admin_categories_path %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>

<%= content_for(:page_title) do %>
    Edit product Category: <%= @category.name %>
<% end %>


<div class="row-fluid">
  <div class="offset2 span8">
    <div class="social-box">
      <div class="header">
        <h4>Editing Category</h4>
      </div>
      <div class="body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

