
<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>

<%= content_for(:page_title) do %>

<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Pick a Shipping Method</h4>
      </div>
      <div class="body">

















        <%= form_tag(admin_shopping_checkout_shipping_method_path(session_admin_order.id), :method => :put) do -%>
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th class="image"></th>
                <th class="name">Name</th>
                <th class="quantity">Property</th>
                <th class="price">Quantity</th>
              </tr>
              </thead>
              <tbody>
              <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
                  <% items.group_by(&:variant).each do |variant, items| %>
                      <tr>
                        <td><%= image_tag(variant.product.featured_image(:mini)) %></td>
                        <td><%= variant.product.name %></td>
                        <td><%= raw variant.display_property_details %></td>
                        <td><%= items.size %></td>
                      </tr>
                  <% end %>
                  <tr>
                    <% items.first.shipping_rate_options(session_admin_order.sub_total).each do |rate| %>
                        <td>Select a shipping Method</td>
                        <td colspan="3" style="font-weight: bold;"><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %> <%= rate.name_rate_min %></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= submit_tag 'continue', :class => 'btn'%>
        <% end %>
      </div>
    </div>
  </div>
</div>



