<div id="admin-product-properties"
          class=' <%= product_property_form.object.new_record? ? 'new_fields' : 'fields' %>  '>
  <div class='field six large-6 span12'>
    <table class="table table-striped table-bordered">
      <tr>
        <td></td>
        <td><%= remove_child_link('remove', product_property_form) %></td>
      </tr>

      <tr>
        <td>Property: </td><td><%= product_property_form.select       :property_id, all_properties %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= product_property_form.text_field   :description %></td>
      </tr>

      <tr>
        <td>Position</td>
        <td><%= product_property_form.number_field  :position, {:step => 1} %></td>
      </tr>
    </table>
  </div>
  <% if product_property_form.object.new_record? %>
    <hr/>
  <% end %>
</div>
