<%= content_for(:login_page) do %>


    <div class="container">
      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "form-forgot" }) do |f| %>
          <h2 class="form-heading">Change your password</h2>
          <p>Enter your new password</p>
          <%= devise_error_messages_custom! %>
          <div class="input-prepend input-fullwidth">
            <span class="add-on"><i class="icon-envelope-alt"></i></span>
            <div class="input-wrapper">
              <%= f.input :password, label: false, :required => true, placeholder: "New password" %>
            </div>
          </div>
          <div class="input-prepend input-fullwidth">
            <span class="add-on"><i class="icon-envelope-alt"></i></span>
            <div class="input-ok">
              <%= f.input :password_confirmation, label: false, :required => true, placeholder: "Confirm your new password" %>
            </div>
          </div>
          <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>
          <div class="form-actions">
            <button class="btn btn-success pull-right" type="submit">Change my password</button>
          </div>
      <% end %>
      <div class="form-footer-copyright">
        <%= Time.now.year %> © <small><%= link_to "Myshopnanny", root_url(subdomain: false) %> - Online Shop builder tool</small>
      </div>

    </div>

<% end %>


