<%= content_for :product do %>
    <ul class="breadcrumb">
      <li>
        <%= link_to "Home", root_url %>
        <span class="divider">/</span>
      </li>
      <li>
        <%= link_to "Products", products_path %>
        <span class="divider">/</span>
      </li>
      <li class="">CheckOut
        <span class="divider">/</span></li>
      <li class="active">Shipping Method</li>
    </ul>
    <h1 class="headingmain"><span>Pick a Shipping Method</span></h1>
    <%= form_tag(shopping_shipping_method_path(session_order.id), html: {class: 'custom'}, method: :put) do -%>
        <div class="cart-info">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th class="image"></th>
              <th class="name">Name</th>
              <th class="quantity">Property</th>
              <th class="price">Quantity</th>
            </tr>
           </thead>
            <tbody>
            <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
                <% items.group_by(&:variant).each do |variant, items| %>
               <tr>
                 <td><%= image_tag(variant.product.featured_image(:mini)) %></td>
                 <td><%= variant.product.name %></td>
                 <td><%= raw variant.display_property_details %></td>
                 <td><%= items.size %></td>
               </tr>
                <% end %>
                <tr>
                  <% items.first.shipping_rate_options(session_order.sub_total).each do |rate| %>
                      <td>Select a shipping Method</td>
                      <td colspan="3" style="font-weight: bold;"><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %> <%= rate.name_rate_min %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class='ten large-10 clearfix offset-by-two'>
            <%= submit_tag 'Proceed', :class => 'btn btn-success' %>
          </div>
        </div>
    <% end %>
<% end %>