<section class="my_account parallax" style="background-position: 50% 0px;">

  <!-- CONTAINER -->
  <div class="container">

    <div class="my_account_block clearfix">
      <div class="login">
        <h2>I'M ALREADY REGISTERED</h2>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "login_form"}) do |f| %>
              <%= f.input :email, label: false, placeholder: "email", :required => false, :autofocus => true, input_html: {class: "span3"} %>
              <%= f.input :password, label: false, placeholder: "password", :required => false, input_html: {class: "span3"}  %>
             <div class="clearfix">
               <% if devise_mapping.rememberable? %>
               <div class="pull-left"><%= f.check_box :remember_me, id: "categorymanufacturer1"%><label for="categorymanufacturer1">Keep me signed</label></div>
               <% end %>
              <div class="pull-right"><%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot_pass" %></div>
             </div>
             <div class="center">
              <%= f.button :submit, "Login", class: "btn btn-success" %>
            </div>
        <% end %>
      </div>
      <div class="new_customers">
        <h2>NEW CUSTOMERS</h2>
        <p>Register with Curvy Shop to enjoy personalized services, including:</p>
        <ul>
          <li><a href="javascript:void(0);">—  Online Order Status</a></li>
          <li><a href="javascript:void(0);">—  Love List</a></li>
          <li><a href="javascript:void(0);">—  Sign up to receive exclusive news and private sales</a></li>
          <li><a href="javascript:void(0);">—  Place Test Orders</a></li>
          <li><a href="javascript:void(0);">—  Quick and easy checkout</a></li>
        </ul>
        <div class="center"><a class="btn active" href="<%= url_for new_customer_registration_url %>">create new account</a></div>
      </div>
    </div>

    <div class="my_account_note center">HAVE A QUESTION? <b>08099239092</b></div>
  </div><!-- //CONTAINER -->
</section>

