<div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
 <% if @product_type %>
     <% @categories = @product_type.subtree %>
 <% else %>
     <% @categories = ProductType.all %>
 <% end %>
  <!-- CATEGORIES -->
  <div class="sidepanel widget_categories">
    <h3>Product Categories</h3>
    <ul>
      <% @categories.each do |category| %>
      <li><%=link_to category.name, products_path(product_type_id: category.id) %></li>
      <% end %>
    </ul>
  </div><!-- //CATEGORIES -->

  <%= form_tag(find_products_url, method: :post, remote: true, id: "form-search") do %>
  <div class="sidepanel widget_pricefilter">
    <h3>Filter by price</h3>
    <%= hidden_field_tag :min_price %>
    <%= hidden_field_tag :max_price %>
    <div id="price-range" class="clearfix">
      <label for="amount">Range:</label>
      <input type="text" id="amount">
      <div class="padding-range">
        <div id="slider-range">
        </div>
      </div>
    </div>
  </div>

  <!-- SHOP BY SIZE -->
  <div class="sidepanel widget_sized">
    <h3>SHOP BY VARIANT</h3>
    <ul>
      <li class="vs" data-variant_name="XS"><a  href="javascript:void(0);">XS</a></li>
      <li class="vs" data-variant_name="S"><a class="sizeS" href="javascript:void(0);">S</a></li>
      <li class="vs" data-variant_name="M"><a href="javascript:void(0);">M</a></li>
      <li class="vs" data-variant_name="L" ><a href="javascript:void(0);">L</a></li>
      <li class="vs" data-variant_name="XL"><a href="javascript:void(0);">XL</a></li>
    </ul>
    <%= hidden_field_tag :variant_name %>
  </div><!-- //SHOP BY SIZE -->

  <!-- SHOP BY BRANDS -->
  <div class="sidepanel widget_brands">
    <h3>SHOP BY BRANDS</h3>
    <% Brand.all.each do |brand| %>
          <%= check_box_tag 'brand_ids[]', brand.id, false, id: "categorymanufacturer#{brand.id}" %>
          <label for="categorymanufacturer<%= brand.id%>" ><%= brand.name %> <span>(<%= h brand.products.size -%>)</span></label>
    <% end %>

    </div><!-- //SHOP BY BRANDS -->
  <% end %>

  <!-- BANNERS WIDGET -->
  <div class="widget_banners">
    <a class="banner nobord margbot10" href="javascript:void(0);">
      <%= image_tag "tovar/banner10.jpg"%></a>
    <a class="banner nobord margbot10" href="javascript:void(0);"><%= image_tag "tovar/banner9.jpg"%></a>
    <a class="banner nobord margbot10" href="javascript:void(0);"> <%= image_tag "tovar/banner8.jpg"%></a>
  </div><!-- //BANNERS WIDGET -->

  <!-- NEWSLETTER FORM WIDGET -->
  <div class="sidepanel widget_newsletter">
    <div class="newsletter_wrapper">
      <h3>NEWSLETTER</h3>
      <form class="newsletter_form clearfix" action="javascript:void(0);" method="get">
        <input type="text" name="newsletter" value="Enter E-mail &amp; Get 10% off" onfocus="if (this.value == 'Enter E-mail &amp; Get 10% off') this.value = '';" onblur="if (this.value == '') this.value = 'Enter E-mail &amp; Get 10% off';">
        <input class="btn newsletter_btn" type="submit" value="Sign up &amp; get 10% off">
      </form>
    </div>
  </div><!-- //NEWSLETTER FORM WIDGET -->
</div>

<%= content_for :js do %>
    <script>
        jQuery('.vs').click( function() {
                    jQuery('#variant_name').val($(this).data("variant_name"));
                    jQuery(".vs").removeClass('active');
                    jQuery(this).addClass('active');
                    $(this).closest('form').submit();
                    //jQuery('#submit_add_to_cart').removeClass('add-to-cart').addClass('ready-to-add-to-cart');
                }
        );
       $(function(){
           $('#form-search').on('change', function(){
               $(this).closest('form').submit();
           })
       })
    </script>

<% end %>
