<%= content_for(:breadcrumb) do %>
    <li>
      <%= link_to "Dashboard", admin_root_url %>
      <span class="icon-angle-right"></span>
    </li>
    <li>
      <%= link_to "Properties", admin_properties_path %>
      <span class="icon-angle-right"></span>
    </li>
<% end %>

<%= content_for(:page_title) do %>
    New Property
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Add a new Property</h4>
        <p class="help-block">
          An "Identifing name" is like 'shirt-color'.<br/>
          However "Display name" is what you will display to the customer for the given property.  In this case 'color'.
        </p>
      </div>
      <div class="body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
